* {
    padding: 0;
    margin: 0;
    border: 0;
}

/* Меняет подсчет ширины блока */
*,
*::before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* Линии обводки у браузеров */
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
/* Делаем блочными теги: */
nav,
footer,
header,
aside {
    display: block;
}
/* Уравниваем поведение шрифтов и элементов для разных браузеров(например, запрет на самовольное увеличение шрифта на IPhone) */
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
/* Наследование шрифтов*/
input,
button,
textarea {
    font-family: inherit;
}
/* Убирается крестик в input */
input::-ms-clear {
    display: none;
}
/*Убираются отступы кнопок в разных браузерах*/
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
/*Чистятся стили маркированных списков*/
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
/*Обнуляем все заголовки*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/*****************************/
body {
    padding: 30px;
}

.block {
    /* background: rgb(228, 117, 117); */
    /* background: url("../image/Foo.svg") center no-repeat; */

    background: url("../image/chef-hat.svg") center/100px auto no-repeat scroll;

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+38,2989d8+38,207cca+61,7db9e8+100 */
    /* background: #1e5799; /* Old browsers */
    /* background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 38%, #2989d8 38%, #207cca 61%, #7db9e8 100%); FF3.6-15 */
    /* background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 38%,#2989d8 38%,#207cca 61%,#7db9e8 100%); Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 38%,#2989d8 38%,#207cca 61%,#7db9e8 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); IE6-9 */
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
}
